/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Code for quiz app specifically is here*/

main {
    margin: 0 auto;
    margin-top: 50px;
    padding: 10px;
    font-family: 'Raleway', sans-serif;    
}

body {
    background-color: white;
}

p {
    line-height: 1.2rem;
}

h1 {
    font-size: 2rem;
    line-height: 3rem;
    text-align: center;
    padding-bottom: 10px;
    font-family: 'Bree Serif', sans-serif;
    color: darkslategray;
}

h2 {
    font-size: 1.3rem;
    line-height: 1.7rem;
    text-align: center;
    padding: 10px;
    padding-top: 0px;
    font-family: 'Bree Serif', sans-serif;
}

h3 {
    position: absolute;
    bottom: 30px;
    font-size: 1.5rem;
    line-height: 2rem;
    color: white;
    font-family: 'Bree Serif', sans-serif;
    text-shadow: 1px 1px 2px black;
    text-shadow: -1px -1px 2px black;
    text-align: center;
    width: 100%;
}

form {
    margin: 10px;
}

legend {
    font-size: 1.1rem;
    line-height: 1.5rem;
    padding-bottom: 20px;
    text-align: center;
    width: 100%;
}

label, p {
    padding-left: 10px;
    font-size: .9rem;
    line-height: 1.4rem;
}

.first{
    display: block;
}

.options {
    padding-bottom: 20px;
}

.buttondiv {
    text-align: center;
    padding: 20px;
}

button {
    padding: 10px;
    border: 0;
    width: 200px;
    font-size: 1.2rem;
    font-family: 'Bree Serif', sans-serif;
    background-color: darkslategray;
    color: white;
    border-radius: 5px;
}

.headergraphic {
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.img-container {
    margin: 20px;
    position: relative;
}

.end-graphic {
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.start-screen {
    display: block;
}

.questions-screen {
    display: none;
}

.end-screen {
    display: none;
}

.submit-button {
    display: block;
    text-align: center;
    padding: 20px;
}

.next-button {
    display: none;
    text-align: center;
    padding: 20px;
}

.results {
    line-height: 1.4rem;
    text-align: center;
}

.wrong-answer {
    color: darkred;
}

.right-answer {
    color:darkslategray;
}

input {
    cursor: pointer;
}

/* For display on medium-to-large screens */
@media only screen and (min-width: 550px){
    main {
        width: 450px;
        max-width: 80%;
        min-height: 540px;
        margin: 0 auto;
        margin-top: 50px;
        background-color: white;
        padding: 30px;
        border-radius: 15px;
        font-family: 'Raleway', sans-serif;    ;
        box-shadow: 3px 3px 8px black;
    }

    .first{
        display: inline;
        padding-right: 50px;
    }
    
    body {
        background-image: url("assets/lbjbook2.jpg");
        background-size: cover;
        background-position: center;
    }  
}